# Version control
.git
.gitignore

# Dependencies
node_modules
venv
__pycache__

# Build outputs
dist
build

# Development files
.vscode
.idea
*.log
*.pyc

# Environment files
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db